@import './design/variables.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #bde0fe;
  height: 100%;

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }


}

/* color pallette
https://coolors.co/palette/d8e2dc-ffe5d9-ffcad4-f4acb7-9d8189
*/
