@import '../../design/variables.scss';

$backgroundColor: #ffc8dd;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;
  
  

  label {
    display: flex;
    margin: 1rem 0;
    /* can't figure out how to style button :(
    .button {
    background: ffafcc;
    text-align: center;
    &:hover, &.active {
          background: #ffc8dd;
    }
  }*/
  
    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #ffafcc;

        &:hover, &.active {
          background: #ffc8dd;
        }
      }
    }
  }
}
