.listBody {
  display: flex;
  justify-content: flex-start;
}

.listBody form {
  height: fit-content;
  width: 100%;
  margin-left: 15px;
}

.listBody form label {
  margin: 15px;
}

input {
  margin-left: 5px;
}


.listBody div {
  width: 100%;
}